div.lnai-form-fillip-form-item-container > *:not(.MuiFormLabel-root) {
  margin-top: 0.8rem;
}

.form-fillip-page2-go-next-container {
  float: right;
  margin-top: 1rem;
}

.form-fillip-page2-go-next-container img {
  cursor: pointer;
}

.form-fillip-page2-go-back-container {
  margin-top: 1rem;
}

.form-fillip-page2-go-back-container img {
  cursor: pointer;
}
