.lnai-info-graph-main-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}
.inner-dashes-logic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100px;
}
.inner-dashes-logic hr {
  border: 2px solid #8804ba;
  background: #8804ba;
  width: 25px;
  height: 6px;
}
/* .lnai-info-graph-main-container::before {
  content: "---";
  font-size: 3.5rem;
  margin-top: auto;
  margin-bottom: auto;
  color: var(--lnai-dark-purple);
}
.lnai-info-graph-main-container::after {
  content: "---";
  font-size: 3.5rem;
  margin-top: auto;
  margin-bottom: auto;
  color: var(--lnai-light-purple);
} */

.lnai-info-graph-detail-container-1 {
  display: flex;
  gap: 10px;
  height: 10rem;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--lnai-light-purple);
  border-bottom: 1px solid var(--lnai-light-purple);
  border-left: 1px solid var(--lnai-light-purple);
  border-right: 1px solid #808080;
  border-radius: var(--lnai-primary-border-radius) 0 0
    var(--lnai-primary-border-radius);
  box-shadow: 0px -1.75906px 5px rgba(61, 5, 94, 0.63);
  background-color: white;
}
.lnai-info-graph-detail-container-2 {
  display: flex;
  gap: 10px;
  height: 10rem;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--lnai-light-purple);
  border-bottom: 1px solid var(--lnai-light-purple);
  border-right: 1px solid #808080;
  box-shadow: 0px -1.75906px 5px rgba(61, 5, 94, 0.63);
  background-color: white;
}
.lnai-info-graph-detail-container-3 {
  display: flex;
  gap: 10px;
  height: 10rem;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--lnai-light-purple);
  border-bottom: 1px solid var(--lnai-light-purple);
  border-right: 2px solid var(--lnai-light-purple);
  border-radius: 0 var(--lnai-primary-border-radius)
    var(--lnai-primary-border-radius) 0;
  box-shadow: 0px -1.75906px 5px rgba(61, 5, 94, 0.63);
  background-color: white;
}

.lnai-info-graph-detail-number-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lnai-info-graph-highlight-text {
  color: var(--lnai-light-purple);
}

.lnai-info-graph-detail-container-1,
.lnai-info-graph-detail-container-2,
.lnai-info-graph-detail-container-3 {
  width: 29%;
}

/* .lnai-landing-view-info-graph-dashed-gradient-line {
  height: 4px;
  background: goldenrod;
  background-image: linear-gradient(
      90deg,
      transparent,
      transparent 50%,
      #fff 50%,
      #fff 100%
    ),
    var(--lnai-purple-gradient-background);
  background-size: 2rem 1rem, 100% 1rem;
  border: none;
} */
