.lnai-landing-view-why-legalniti-container {
  text-align: center;
  position: relative;
  width: 100%;
  margin-top: 8rem;
}

.lnai-landing-view-why-legalniti-ai-animation-gif {
  position: absolute;
  top: -20%;
  right: 10%;
  border: 0;
}

.lnai-landing-view-why-legalniti-heading {
  font-size: var(--lnai-primary-heading-font-size);
  font-weight: var(--lnai-primary-heading-font-weight);
}

.lnai-landing-view-why-legalniti-heading-highlight {
  background: var(--lnai-purple-gradient-background);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lnai-landing-view-why-legalniti-grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  gap: 2rem;
  margin-top: 2.5rem;
}

.lnai-landing-view-why-legalniti-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 1rem; */
  /* width: 12rem; */
}

.lnai-landing-view-why-legalniti-image-item {
  /* width: 25%; */
  width: 10%;
  margin: 0 1rem;
}

.lnai-landing-view-why-legalniti-grid-item-text {
  font-size: var(--lnai-secondary-heading-font-size);
  font-weight: var(--lnai-secondary-heading-font-weight);
  width: 25%;
  text-align: justify;
}

.lnai-landing-view-why-legalniti-grid-item.trusted-advisors,
.lnai-landing-view-why-legalniti-grid-item.years-experience,
.lnai-landing-view-why-legalniti-grid-item.dedicated-lawyers,
.lnai-landing-view-why-legalniti-grid-item.safe-secure {
  justify-content: end;
  width: auto;
}

.lnai-landing-view-why-legalniti-grid-item.fast-team,
.lnai-landing-view-why-legalniti-grid-item.round-clock,
.lnai-landing-view-why-legalniti-grid-item.chat-support,
.lnai-landing-view-why-legalniti-grid-item.reliable-system {
  justify-content: start;
}
