@import url("https://fonts.googleapis.com/css2?family=Prosto+One&display=swap");

.lnai-landing-view-testimonial-container {
  margin-top: 10rem;
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lnai-landing-view-testimonial-heading-image-container {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.lnai-landing-view-testimonial-heading-highlight {
  /* margin-top: 5rem; */
  background: -webkit-linear-gradient(
    rgba(147, 64, 238, 1) 0%,
    rgba(163, 19, 171, 1) 63%
  );

  text-align: justify;
  font-size: 4.24rem; /* 80px / 16 = 5rem */
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.575rem; /* 9.2px / 16 = 0.575rem */
  text-transform: capitalize;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.lnai-landing-view-testimonial-sub-heading {
  color: #000;
  text-align: justify;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.lnai-landing-view-testimonial-items {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* justify-content: center; */
  /* flex-direction: row; */
  /* margin-top: 5rem; */
  /* gap: 0rem; */
  margin-left: 110px;
}

.lnai-landing-view-testimonial-items .carousel-slider {
  padding-bottom: 5rem;
}

.lnai-landing-view-testimonial-items .control-dots {
  & .dot {
    width: 5rem;
    height: 0.5rem;
    border-radius: 12px;
    border: 1px solid black;
  }

  & .dot.selected {
    width: 5rem;
    height: 0.5rem;

    background: linear-gradient(180deg, #000000 0%, #3d065f 50%, #200554 100%);
    border-radius: 12px;
  }
}

/* .lnai-landing-view-testimonial-item-container-outer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30rem;
  padding-bottom: 0.7rem;
  border-radius: 0.75rem;
  background-clip: border-box;
  color: rgb(255, 255, 255);
  border: 2px solid black;
  border-radius: 1.2rem;
} */

.lnai-landing-view-testimonial-item-container-inner {
  display: flex;
  position: relative;
  margin-left: 0.5rem;
  margin-top: -2rem;
  height: 17rem;
  overflow: hidden;
  width: 32rem;
  background-color: rgb(59 130 246);
  background-clip: border-box;
  color: black;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background: white;
  border: 1px solid var(--lnai-dark-purple);
  background-image: linear-gradient(
    180deg,
    rgba(113, 37, 141, 0.11) 27.34%,
    rgba(141, 4, 193, 0) 100%
  );
  border-radius: 1.2rem;
  /* box-shadow: 0px 3.18498px 42.32px rgba(0, 0, 0, 0.25); */
}

.lnai-landing-view-testimonial-item-container-inner-blockquote p {
  margin-top: 1rem;
  margin-left: 1rem;
}

.lnai-landing-view-testimonial-item-container-inner-blockquote::before {
  content: "\201C";
  font-family: "Prosto One", sans-serif;
  font-weight: 500;
  font-size: 80px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 2rem;
  margin-left: 2rem;
  background: linear-gradient(90deg, #3d055e 23.07%, #8d04c1 81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
}

.lnai-landing-view-testimonial-item-text {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  margin-left: 3rem;
  margin-bottom: 3rem;
  margin-right: 10rem;
}

.lnai-landing-view-testimonial-item-text-author {
  position: absolute;
  float: left;
  bottom: 0;
  margin-left: 4rem;
  margin-bottom: 1rem;
}

.lnai-landing-view-testimonial-item-circle {
  display: flex;
  position: absolute;
  float: right;
  top: 0;
  right: 0;
  height: 6rem;
  width: 6rem;
  margin-top: 5rem;
  margin-right: 2rem;
  border-radius: 50%;
  background: #d2cbd5;
  overflow: hidden;
}

/* for crousel */
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
