.lnai-landing-page-about-ai-container {
  display: flex;
  flex-direction: column;
  padding: 5rem 0 0;
  width: 85%;
  margin: auto;
}
.lnai-landing-page-about-ai-details-and-image-container {
  display: flex;
}

.lnai-landing-view-about-ai-heading {
  font-weight: 600;
  font-size: 4.8rem;
  letter-spacing: 0.188rem;
}

.lnai-landing-view-about-ai-details {
  margin: 4rem 0 0;
}

.lnai-landing-view-about-ai-details p {
  width: 90%;
}

.lnai-landing-view-about-ai-buttons-container {
  display: flex;
  margin-top: 2rem;
  gap: 3rem;
}

.lnai-landing-view-about-ai-image img {
  margin-right: 2rem;
  /* margin-top: -1.7rem; */
}
