.lnai-landing-page-about-ai-container {
  display: flex;
  flex-direction: column;
  padding: 5rem 0 0;
  margin: 0 5rem;
  height: 100%;
}
.lnai-landing-page-about-ai-details-and-image-container {
  display: flex;
}

.lnai-landing-view-about-ai-heading {
  font-size: 4rem;
}

.lnai-landing-view-about-ai-details {
  margin: 4rem 0 0;
}
.lnai-landing-view-about-ai-buttons-container {
  display: flex;
  margin-top: 2rem;
  gap: 3rem;
}

.lnai-landing-view-about-ai-image {
}
