.lnai-landing-page-about-ai-container {
  display: flex;
  flex-direction: column;
  padding: 5rem 0 0;
  width: 85%;
  margin: auto;
}
.lnai-landing-page-about-ai-details-and-image-container {
  display: flex;
}

.lnai-landing-view-about-ai-heading {
  font-weight: 600;
  font-size: 5.625rem;
  letter-spacing: 0.188rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.lnai-landing-view-about-ai-details {
  margin: 4rem 0 0;
}

.lnai-landing-view-about-ai-details p {
  width: 100%;
  font-size: 20px;
}

.lnai-landing-view-about-ai-buttons-container {
  display: flex;
  margin-top: 2rem;
  gap: 3rem;
}
.lnai-landing-view-about-ai-buttons-container button {
  font-size: 17px;
}
/* changes */
.lnai-landing-view-about-ai-image {
  margin-left: 110px;
}
.lnai-landing-view-about-ai-image img {
  width: 529.46px;
  height: 432px;
  /* margin-right: 2rem; */
  /* margin-top: -1.7rem; */
}
