.lnai-landing-page-about-ai-container {
  display: flex;
  flex-direction: column;
  padding: 5rem 0 0;
  width: 75%;
  margin: auto;
}
.lnai-landing-page-about-ai-details-and-image-container {
  display: flex;
  /* gap: 20%; */
}

.lnai-landing-view-about-ai-heading {
  /* Replacing Heading styles to primary variable */
  font-size: var(--lnai-heading-01-font-size);
  font-size: var(--lnai-primary-heading-font-size);
  font-weight: var(--lnai-heading-01-font-weight);

  /* font-weight: 600; */
  /* font-size: 5.625rem; */
  /*  */

  letter-spacing: 0.188rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.lnai-landing-view-about-ai-details {
  margin: 3rem 0 0;
  width: 55%;
  height: 100%;
}

.lnai-landing-view-about-ai-details p {
  width: 100%;
  /* Replacing font size of paragraph to primary global */
  font-size: var(--lnai-primary-paragraph-font-size);
  font-weight: var(--lnai-primary-paragraph-font-weight);

  /* font-size: 20px; */
  /*  */
}

.lnai-landing-view-about-ai-buttons-container {
  display: flex;
  margin-top: 2rem;
  gap: 10%;
}
.lnai-landing-view-about-ai-buttons-container button {
  padding: var(--lnai-button-padding-01);
}

.lnai-landing-view-about-ai-image {
  margin: auto;
}
