.lnai-cart-page-main-container {
  background: linear-gradient(
    180deg,
    rgba(45, 13, 57, 0.21) 31.42%,
    rgba(141, 4, 193, 0.21) 100%
  );
  min-height: 100vh;
}

.lnai-cart-page-heading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  gap: 0.8rem;
}

.lnai-cart-page-heading {
}

.lnai-cart-page-more-queries-container {
  text-align: center;
  margin-top: 2.5rem;
}

.lnai-cart-page-more-queries-container > h1 {
  font-size: var(--lnai-primary-heading-font-size);
  font-weight: var(--lnai-primary-heading-font-weight);
}

.lnai-cart-page-more-queries-container span {
  cursor: pointer;
}