@import "../../globals.css";

.lnai-login-page-main-container {
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.lnai-login-page-background-1 {
  height: 85vh;
  width: 100%;
  border-radius: 1.275rem 0 0 1.275rem;
  /* object-fit: cover; */
}

.lnai-login-page-lnai-logo-tp {
  margin-top: 0.5rem;
  height: 1.75rem;
  width: 2.75rem;
}

.lnai-loign-page-direction-arrow-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  text-align: center;
  border: 1.5px solid var(--lnai-dark-purple);
}
