.lnai-service-info-container {
  margin-top: 5rem;
}

.lnai-service-info-cards-main-container-1,
.lnai-service-info-cards-main-container-2 {
  display: flex;
  gap: 2rem;
  justify-content: center;
  width: max-content;

  /*Animation Logic  */
  overflow: hidden;
  /* animation: 15s slide infinite linear; */

}
.lnai-service-info-cards-main-container-1 {
  margin-top: 4.5rem;
}
.lnai-service-info-cards-main-container-2 {
  margin-top: 2rem;
  margin-left: 2.7rem;
}

.lnai-service-info-container-heading {
  text-align: center;
  font-size: 3.125rem;
  text-transform: capitalize;
}
.lnai-service-info-container-heading-highlight-text {
  background: -webkit-linear-gradient(
    rgba(147, 64, 238, 1) 0%,
    rgba(163, 19, 171, 1) 63%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lnai-service-info-card {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 200px;
  background: white;
  border-radius: var(--lnai-primary-border-radius);
  border: 1px solid var(--lnai-light-purple);
  /* box-shadow: 0px 3.18498px 42.32px rgba(0, 0, 0, 0.25); */
  /* flex: 0 0 auto; */
}

.lnai-service-info-card p {
  font-size: 0.95rem;
  text-align: center;
}

/* for crousel */
@keyframes slide {
  /* from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  } */
}
.outer-slide-div-legalserices {
  margin-left: 500px;
}

.outer-slide-div-legalserices:hover .lnai-service-info-cards-main-container-1,
.outer-slide-div-legalserices:hover .lnai-service-info-cards-main-container-2 {
  animation-play-state: paused;
  cursor: pointer;
}
