.lnai-landing-view-get-consultancy-heading {
  margin-top: 5rem;
  text-align: center;
}

.lnai-landing-view-get-consultancy-heading-highlight {
  background: var(--lnai-purple-gradient-background);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lnai-landing-view-get-consultancy-steps-main-container {
  display: flex;
  margin-top: 5rem;
}

.lnai-landing-view-get-consultancy-steps-item {
  margin: auto;
  text-align: center;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  /* background: red; */
  border: 1px solid var(--lnai-dark-purple);
  box-shadow: 3.51999px 3.51999px 37.2415px rgba(0, 0, 0, 0.25);
}

.lnai-landing-view-get-consultancy-steps-item > img {
  margin-top: 1rem;
}

.lnai-landing-view-get-consultancy-steps-item > h3 {
  margin-top: 0.5rem;
}
