@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

/*
  a {
    color: inherit;
    text-decoration: none;
  }
*/

:root {
  --lnai-dark-purple: #3d055e;
  --lnai-light-purple: #8d04c1;
  --lnai-purple-03: #a142b4;
  --lnai-purple-gradient-background: linear-gradient(
    90deg,
    var(--lnai-dark-purple) 23.07%,
    var(--lnai-light-purple) 81%
  );
  --lnai-primary-border-radius: 0.5rem;
  --lnai-primary-heading-gradient: linear-gradient(
    90deg,
    var(--lnai-dark-purple) 0%,
    var(--lnai-light-purple) 33.75%
  );

  /* Font Sizes */

  /* Primary Heading Settings */
  --lnai-primary-heading-font-size: 2.5rem;
  --lnai-primary-heading-font-weight: 600;

  /* Secondary/Sub-headings Heading Settings */
  --lnai-secondary-heading-font-size: 0.9rem;
  --lnai-secondary-heading-font-weigth: 500;

  /* Primary Paragraph Settings */
  --lnai-primary-paragraph-font-size: 1rem;
  --lnai-primary-paragraph-font-weight: 400;

  /* Primary Paragraph Settings */
  --lnai-secondary-paragraph-font-size: 0.8rem;
  --lnai-secondary-paragraph-font-weight: 400;
}

.lnai-primary-button {
  background: var(--lnai-purple-gradient-background);
  color: white !important;
  border-radius: var(--lnai-primary-border-radius) !important;
}

.lnai-primary-input-field {
  border: var(--lnai-dark-purple) !important;
  border-radius: 0.5rem !important;
}

.lnai-primary-heading {
  /* background: var(--lnai-primary-heading-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent; */

  background: linear-gradient(90deg, #3d055e 23.07%, #8d04c1 81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
